#backlog {
    width: 100%;
    padding: 20px 20px 35px 20px;
    height: calc(100% - 50px);
    overflow-y: scroll;
    overflow-x: hidden;
}
#backlog::-webkit-scrollbar {display: none;}

#backlog > .userstory{
    position: relative;
    background-color: grey;
    color: white;
    height: 60px;
    width: 100%;
    margin: 5px 0px 0px 0px;
    padding: 3px 0px 0px 0px;
    overflow: hidden;
    font-size: 1.3em;
}
#backlog > .userstory > .userstory-planstate{
	position: absolute;
    bottom: 0px;
    height: 60px;
    width: .8%;
    overflow: hidden;
}

#backlog > .userstory > .userstory-titel {
    position: absolute;
    left: 1%;
    width: 44%;
    height: 55px;
    overflow: hidden;
	text-overflow: ellipsis;
    display: inline-block;
}

#backlog > .userstory > .userstory-sandclock{
    position: absolute;
    left: 45.5%;
    background-color: black;
    height: 39px;
    width: 3%;
    display: inline-block;
}

#backlog > .userstory > .userstory-time{
    position: absolute;
    font-size: 15px;
    left: 45.5%;
    top: 41px;
    width: 3%;
    height: 17px;
    text-align: center;
    color: white;
    display: inline-block;
    overflow: hidden;
}

#backlog > .userstory > .userstory-memberbox{
    position: absolute;
    left: 48.8%;
    width: 7%;
    height: 56px;
    display: inline-block;
    overflow: hidden;
}

.userstory-memberbox > img{
    position: relative;
    margin: 0px 0px 4px 0px;
    height: 25px;
    width: 25px;
    display: inline-block;
    border-radius: 100%;
}

#backlog > .userstory > .userstory-category {
    position: absolute;
    left: 56%;
    height: 25px;
    width: 30%;
    display: inline-block;
    overflow: hidden;
	text-overflow: ellipsis;
}

#backlog > .userstory > .userstory-sprint {
    position: absolute;
    left: 56%;
    top: 30px;
    height: 25px;
    width: 30%;
    overflow: hidden;
	text-overflow: ellipsis;
    display: inline-block;
}

#backlog > .userstory > .userstory-timestats{
    position: absolute;
    top: 8px;
    left: 87%;
    height: 25px;
    width: 8%;
    display: inline-block;
    overflow: hidden;
}

#backlog > .userstory > .userstory-moscow{
    position: absolute;
    left: 87%;
    top: 30px;
    text-align: left;
    height: 22px;
    width: 2%;
    overflow: hidden;
}

#backlog > .userstory > .userstory-value{
    position: absolute;
    left: 89%;
    top: 30px;
    text-align: center;
    width: 2%;
    overflow: hidden;
}

#backlog > .userstory > .userstory-effort{
    position: absolute;
    left: 94.3%;
    top: 14px;
    font-size: 20px;
    text-align: center;
    font-weight: 500;
    width: 50px;
    overflow: hidden;
}

.userstory-control{
    position: absolute;
    left: 98.5%;
    bottom: 0px;
    height: 60px;
    width: 20px;
    overflow: hidden;
}
#backlog .userstory .userstory-control .userstory-settings{
	position: absolute;
	display: block;
	top: 20px;
	color: white;
	text-align: center;
	height: 60px;
	width: 20px;
	text-decoration: none;
}