#backlog {
    width: 100%;
    padding: 30px 20px 0px 20px;
    height: calc(100% - 50px);
    overflow-y: scroll;
    overflow-x: hidden;
}
#backlog::-webkit-scrollbar {display: none;}

#backlog > .backlog-settings{
    position: fixed;
    top: 50px;
    left: 0px;
    width: 100%;
    height: 30px;
    background-color: #333333;
    border-bottom: 1px solid #666666;
    z-index: 1;
}

#backlog > .backlog-settings > .listview{
    float: right;
    padding: 4px;
    color: white;
    font-size: 20px;
    text-decoration: none;
}
#backlog > .backlog-settings > .cardview{
    float: right;
    padding: 4px;
    color: white;
    font-size: 20px;
    text-decoration: none;
}

#backlog > .userstory{
    position: relative;
    background-color: grey;
    color: white;
    height: 60px;
    width: 100%;
    margin: 5px 0px 0px 0px;
    overflow: hidden;
    font-size: 1.2em;
}
#backlog > .userstory > .userstory-planstate{
    height: 60px;
    width: .8%;
    float: left;
    overflow: hidden;
}
#backlog > .userstory > .userstory-container{
    width: calc(100% - 0.8% - 20px);
    height: 100%;
    float: left;
}
#backlog > .userstory > .userstory-container > .userstory-titel {
    width: 40%;
    height: 100%;
    float: left;
    line-height: 18px;
    padding: 3px 0px 0px 2px;
    overflow-x: hidden ;
    overflow-y: scroll;
    display: inline-block;
}
#backlog > .userstory > .userstory-container > .userstory-titel::-webkit-scrollbar {display: none;}


#backlog > .userstory > .userstory-container > .userstory-memberbox{
    width: 7%;
    height: 100%;
    float: left;
    padding: 3px 0px 0px 2px;
    display: inline-block;
    overflow: hidden;
}

.user-img{
    position: relative;
    margin: 0px 0px 4px 0px;
    height: 25px;
    width: 25px;
    display: inline-block;
    border-radius: 100%;
}

#backlog > .userstory > .userstory-container > .timebox{
    width: 40px;
    height: 100%;
    float: left;
    margin-left: 3px;
    padding: 2px 0px 0px 0px;
    display: inline-block;
}

#backlog > .userstory > .userstory-container > .timebox > .userstory-sandclock{
    background-color: black;
    height: 39px;
    width: 100%;
    display: inline-block;
}

#backlog > .userstory > .userstory-container > .timebox > .userstory-time{
    width: 100%;
    height: 18px;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: white;
    display: inline-block;
    overflow: hidden;
}
#backlog > .userstory > .userstory-container > .info-container{
    height: 100%;
    width: 22%;
    float: left;
    margin-left: 3px;
    display: inline-block;
}

#backlog > .userstory > .userstory-container > .info-container > .userstory-category {
    height: 50%;
    width: 100%;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
	text-overflow: ellipsis;
}

#backlog > .userstory > .userstory-container > .info-container > .userstory-sprint {
    height: 50%;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
	text-overflow: ellipsis;
    display: inline-block;
}
#backlog > .userstory > .userstory-container > .userstory-stats{
    width: 24%;
    height: 100%;
    float: right;
    margin: 0px 0px 0px 2px;
    padding: 2px 0px 0px 2px;
    font-size: 13px;
    display: inline-block;
}

#backlog > .userstory > .userstory-container > .userstory-stats > .userstory-timestats{
    height: 50%;
    width: 100%;
    font-size: 18px;
    padding: 4px 0px 0px 0px;
    text-align: center;
    display: inline-block;
    overflow: hidden;
}

#backlog > .userstory > .userstory-container > .userstory-stats > .userstory-moscow{
    text-align: center;
    height: 20px;
    width: 24%;
    padding: 2px 0px 0px 0px;
    border-radius: 5px;
    background: rgba(54, 25, 25, .5);
    overflow: hidden;
    display: inline-block;
}

#backlog > .userstory > .userstory-container > .userstory-stats > .userstory-value{
    text-align: center;
    width: 23%;
    height: 20px;
    padding: 2px 0px 0px 0px;
    border-radius: 5px;
    background: rgba(54, 25, 25, .5);
    overflow: hidden;
    display: inline-block;
}

#backlog > .userstory > .userstory-container > .userstory-stats > .userstory-risk{
    text-align: center;
    width: 23%;
    height: 20px;
    padding: 2px 0px 0px 0px;
    border-radius: 5px;
    background: rgba(54, 25, 25, .5);
    overflow: hidden;
    display: inline-block;
}

#backlog > .userstory > .userstory-container > .userstory-stats > .userstory-effort{
    text-align: center;
    width: 23%;
    height: 20px;
    margin: 2px 0px 0px 0px;
    padding: 2px 0px 0px 0px;
    border-radius: 5px;
    background: rgba(54, 25, 25, .5);
    overflow: hidden;
    display: inline-block;
}

#backlog > .userstory > .userstory-control{
    float: right;
    height: 60px;
    width: 20px;
    overflow: hidden;
}
#backlog > .userstory > .userstory-control > .userstory-settings{
	display: block;
	top: 22px;
	color: white;
	text-align: center;
	height: 20px;
	width: 20px;
	text-decoration: none;
}

/* Cardview */
#backlog > .note{
    position: relative;
    background-color: grey;
    color: white;
    height: 160px;
    width: 280px;
    margin: 5px;
    overflow: hidden;
    font-size: 1.2em;
    display: inline-block;
}

.note > .userstory-planstate{
	position: relative;
    float: left;
    height: 100%;
    width: 4px;
    overflow: hidden;
}

.note > .userstory-container{
    position: relative;
    float: left;
    width: calc(100% - 21px);
    height: 160px;
}

.note > .userstory-container > .userstory-titel {
    position: relative;
    float: left;
    width: 100%;
    height: 70px;
    padding: 3px;
    line-height: 18px;
    overflow-x: hidden ;
    overflow-y: scroll;
    display: inline-block;
}
.note > .userstory-container > .userstory-titel::-webkit-scrollbar {display: none;}

.note > .userstory-container > .info-container{
    position: relative;
    top: -70px;
    float: left;
    width: 100%;
    height: 25px;
}

.note > .userstory-container > .info-container > .userstory-category {
    height: 25px;
    width: 50%;
    padding: 1px;
    float: left;
    padding: 2px;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
	text-overflow: ellipsis;
}

.note > .userstory-container > .info-container > .userstory-sprint {
    height: 25px;
    width: 50%;
    padding: 1px;
    white-space: nowrap;
    overflow: hidden;
	text-overflow: ellipsis;
    display: inline-block;
}

.note > .userstory-container > .timebox{
    position: relative;
    top: 25px;
    width: 42px;
    height: 65px;
    padding: 2px;
    float: left;
}

.note > .userstory-container > .timebox > .userstory-sandclock{
    background-color: black;
    height: 45px;
    width: 40px;
    display: inline-block;
}

.note > .userstory-container > .timebox > .userstory-time{
    font-size: 14px;
    line-height: 20px;
    width: 40px;
    height: 18px;
    text-align: center;
    color: white;
    overflow: hidden;
}

.note > .userstory-container > .userstory-stats{
    position: relative;
    top: -70px;
    left: 47px;
    width: 140px;
    height: 65px;
    float: left;
    font-size: 13px;
}

.note > .userstory-container > .userstory-stats > .userstory-timestats{
    height: 20px;
    width: 140px;
    padding: 1px;
    float: left;
    text-align: center;
    display: inline-block;
    overflow: hidden;
}

.note > .userstory-container > .userstory-stats > .userstory-moscow{
    text-align: center;
    height: 20px;
    width: 60px;
    float: left;
    margin: 0px 5px 0px 6px;
    padding: 2px 1px 0px 1px;
    border-radius: 5px;
    background: rgba(54, 25, 25, .5);
    display: inline-block;
    overflow: hidden;
}

.note > .userstory-container > .userstory-stats > .userstory-value{
    text-align: center;
    width: 60px;
    height: 20px;
    float: left;
    border-radius: 5px;
    margin: 0px 2px 0px 2px;
    padding: 2px 1px 0px 1px;
    background: rgba(54, 25, 25, .5);
    display: inline-block;
    overflow: hidden;
}

.note > .userstory-container > .userstory-stats > .userstory-risk{
    text-align: center;
    width: 60px;
    height: 20px;
    float: left;
    border-radius: 5px;
    margin: 3px 5px 0px 6px;
    padding: 2px 1px 0px 1px;
    background: rgba(54, 25, 25, .5);
    display: inline-block;
    overflow: hidden;
}

.note > .userstory-container > .userstory-stats > .userstory-effort{
    text-align: center;
    width: 60px;
    height: 20px;
    float: left;
    border-radius: 5px;
    margin: 3px 5px 0px 2px;
    padding: 2px 1px 0px 1px;
    background: rgba(54, 25, 25, .5);
    overflow: hidden;
}

.note > .userstory-container > .userstory-memberbox{
    position: relative;
    top: 25px;
    left: 140px;
    width: 76px;
    height: 70px;
    padding: 5px 0px 0px 15px;
    display: inline-block;
    overflow: hidden;
}

.note > .userstory-container > .userstory-memberbox > .user-img{
    margin: 0px 3px 6px 0px;
    height: 25px;
    width: 25px;
    display: inline-block;
    border-radius: 100%;
}

.note > .userstory-control{
    float: right;
    height: 100%;
    width: 15px;
    overflow: hidden;
}
.note > .userstory-control > .userstory-settings{
	display: block;
	top: 72px;
    left: -2px;
	color: white;
	text-align: center;
	height: 20px;
	width: 20px;
	text-decoration: none;
}


.modal-dialog{
    width: 80%;
}
.modal-header{
    background-color: #333333;
}

.userstory-detail-settings{
    position: relative;
    background-color: gray;
    height: 94%;
    width: 100%;
    overflow: scroll;
}
.userstory-detail-settings::-webkit-scrollbar{
    display: none;
}
.modal-header{
    border: none;
    font-size: 18px;
}
.modal-header > a{
    float: right;
    color: white;
    text-decoration: none;
}
form::-webkit-scrollbar{
    display: none;
}
.input-group{
    margin: auto;
    padding: 5px 0px 0px 0px;
    width: 95%;
    height: 7%;
    font-size: 14px;
    border: none;
}

.input-group-addon-fix{
    width: 140px;
    height: 7%;
    background-color: transparent;
    color: white;
    font-size: 14px;
    font-weight: 500;
    white-space: normal;
    text-transform: uppercase;
    border-right: 2px solid black;
}
.input-control{
    height: 49px;
    color: white;
    font-size: 17px;
    font-weight: 600;
    background-color: transparent;
    border: transparent;
    border-radius: 0px;
    border: 1px solid white;
}
select > option{
	color: white;
	background-color: grey;
}
textarea { 
    resize: vertical;
}

.input-container{
    height: 7%;
    width: 95%;
    margin: auto;
}
.input-container-left{
    float: left;
    width: 49%;
    height: 100%;
    border: none;
}
.input-container-right{
    float: right;
    width: 49%;
    height: 100%;
    border: none;
}

.userstory-detail-data {
    margin: auto;
    width: 80%;
    height: 11%;
}

.modal-data-container{
    margin: 1%;
    padding: 3px 2% 3px 3px;
    width: 30%;
    height: 10%;
    display: inline-block;
    float: left;
}
.userstory-detail-task-container{
    width: 95%;
    height: 40%;
    padding: 5px;
    margin: auto;
    overflow-y: scroll;
    overflow-x: hidden;
}
.userstory-detail-task-container::-webkit-scrollbar{
    display: none;
}
.userstory-detail-task{
    position: relative;
    height: 60px;
    width: 24%;
    margin: 0px 5px 5px 0px;
    padding: 0px 0px 0px 5px;
    display:  inline-block;
    background-color: lightgray;
    color: black;
    text-decoration: none;
    box-shadow: 0px 0px 5px #000000;
}
.userstory-detail-task-content{
    position: relative;
    height: 60px;
    width: 100%;
    color: black;
    display: inline-block;
    overflow: hidden;
}
.userstory-detail-task-name{
    height: 25px;
    padding: 2px 0px 0px 5px;
    color: inherit;
    font-weight: 500;
    width: 75%;
    white-space: nowrap;
    display: inline-block;
    font-size: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.userstory-detail-task-time{
    position: relative;
    height: 25px;
    width: 75%;
    font-size: 12px;
    padding: 7px 0px 0px 5px;
    color: inherit;
    display: inline-block;
}
.userstory-detail-task-memberbox{
    position: relative;
    bottom: 2px;
    top: 2px;
    width: 25%;
    float: right;
    display: inline-block;
    overflow: hidden;
}