#backlog {
    width: 100%;
    padding: 20px 20px 45px 20px;
    height: calc(100% - 50px);
    overflow-y: scroll;
    overflow-x: hidden;
}
#backlog::-webkit-scrollbar {display: none;}

#backlog > .userstory{
    position: relative;
    background-color: grey;
    color: white;
    height: 60px;
    width: 100%;
    margin: 5px 0px 0px 0px;
    padding: 3px 0px 0px 0px;
    overflow: hidden;
    font-size: 1.2em;
}
#backlog > .userstory > .userstory-planstate{
	position: absolute;
    bottom: 0px;
    height: 60px;
    width: .8%;
    overflow: hidden;
}

#backlog > .userstory > .userstory-titel {
    position: absolute;
    left: 1%;
    width: 35%;
    height: 55px;
    line-height: 18px;
    overflow-x: hidden ;
    overflow-y: scroll;
    display: inline-block;
}
#backlog > .userstory > .userstory-titel::-webkit-scrollbar {display: none;}

#backlog > .userstory > .userstory-sandclock{
    position: absolute;
    left: 36.5%;
    background-color: black;
    height: 39px;
    width: 4%;
    display: inline-block;
}

#backlog > .userstory > .userstory-time{
    position: absolute;
    font-size: 14px;
    line-height: 20px;
    left: 36.5%;
    top: 41px;
    width: 4%;
    height: 18px;
    text-align: center;
    color: white;
    display: inline-block;
    overflow: hidden;
}

#backlog > .userstory > .userstory-memberbox{
    position: absolute;
    left: 41%;
    width: 7%;
    height: 56px;
    display: inline-block;
    overflow: hidden;
}

.user-img{
    position: relative;
    margin: 0px 0px 4px 0px;
    height: 25px;
    width: 25px;
    display: inline-block;
    border-radius: 100%;
}

#backlog > .userstory > .userstory-category {
    position: absolute;
    left: 48.2%;
    height: 25px;
    width: 23%;
    display: inline-block;
    overflow: hidden;
	text-overflow: ellipsis;
}

#backlog > .userstory > .userstory-sprint {
    position: absolute;
    left: 48.2%;
    top: 30px;
    height: 25px;
    width: 23%;
    overflow: hidden;
	text-overflow: ellipsis;
    display: inline-block;
}

#backlog > .userstory > .userstory-timestats{
    position: absolute;
    top: 30px;
    left: 76%;
    height: 25px;
    min-width: 18%;
    text-align: center;
    display: inline-block;
    overflow: hidden;
}

#backlog > .userstory > .userstory-moscow{
    position: absolute;
    left: 78%;
    top: 8px;
    text-align: center;
    height: 22px;
    width: 4.5%;
    margin-right: 2px;
    border-radius: 5px;
    background: rgba(54, 25, 25, .5);
    overflow: hidden;
}

#backlog > .userstory > .userstory-value{
    position: absolute;
    left: 83%;
    top: 8px;
    text-align: center;
    width: 4.5%;
    height: 22px;
    margin-right: 2px;
    border-radius: 5px;
    background: rgba(54, 25, 25, .5);
    overflow: hidden;
}

#backlog > .userstory > .userstory-risk{
    position: absolute;
    left: 88%;
    top: 8px;
    text-align: center;
    width: 4.5%;
    height: 22px;
    margin-right: 2px;
    border-radius: 5px;
    background: rgba(54, 25, 25, .5);
    overflow: hidden;
}

#backlog > .userstory > .userstory-effort{
    position: absolute;
    left: 93.3%;
    top: 14px;
    font-size: 20px;
    text-align: center;
    font-weight: 500;
    width: 5%;
    min-width: 40px;
    overflow: hidden;
}

.userstory-control{
    position: relative;
    bottom: 3px;
    float: right;
    height: 60px;
    width: 20px;
    overflow: hidden;
}
#backlog .userstory .userstory-control .userstory-settings{
	position: absolute;
	display: block;
	top: 22px;
	color: white;
	text-align: center;
	height: 20px;
	width: 20px;
	text-decoration: none;
}
.modal-dialog{
    width: 80%;
}
.modal-header{
    background-color: #333333;
}

.userstory-detail-settings{
    position: relative;
    background-color: gray;
    height: 94%;
    width: 100%;
    overflow: scroll;
}
.userstory-detail-settings::-webkit-scrollbar{
    display: none;
}
.modal-header{
    border: none;
    font-size: 18px;
}
.modal-header > a{
    float: right;
    color: white;
    text-decoration: none;
}
form::-webkit-scrollbar{
    display: none;
}
.input-group{
    margin: auto;
    padding: 5px 0px 0px 0px;
    width: 95%;
    height: 7%;
    font-size: 14px;
    border: none;
}

.input-group-addon-fix{
    width: 140px;
    height: 7%;
    background-color: transparent;
    color: white;
    font-size: 14px;
    font-weight: 500;
    white-space: normal;
    text-transform: uppercase;
    border-right: 2px solid black;
}
.input-control{
    height: 49px;
    color: white;
    font-size: 17px;
    font-weight: 600;
    background-color: transparent;
    border: transparent;
    border-radius: 0px;
    border: 1px solid white;
}
select > option{
	color: white;
	background-color: grey;
}
textarea { 
    resize: vertical;
}

.input-container{
    height: 7%;
    width: 95%;
    margin: auto;
}
.input-container-left{
    float: left;
    width: 49%;
    height: 100%;
    border: none;
}
.input-container-right{
    float: right;
    width: 49%;
    height: 100%;
    border: none;
}

.userstory-detail-data {
    margin: auto;
    width: 80%;
    height: 11%;
}

.modal-data-container{
    margin: 1%;
    padding: 3px 2% 3px 3px;
    width: 30%;
    height: 10%;
    display: inline-block;
    float: left;
}
.userstory-detail-task-container{
    width: 95%;
    height: 40%;
    padding: 5px;
    margin: auto;
    overflow-y: scroll;
    overflow-x: hidden;
}
.userstory-detail-task-container::-webkit-scrollbar{
    display: none;
}
.userstory-detail-task{
    position: relative;
    height: 60px;
    width: 24%;
    margin: 0px 5px 5px 0px;
    padding: 0px 0px 0px 5px;
    display:  inline-block;
    background-color: lightgray;
    color: black;
    text-decoration: none;
    box-shadow: 0px 0px 5px #000000;
}
.userstory-detail-task-content{
    position: relative;
    height: 60px;
    width: 100%;
    color: black;
    display: inline-block;
    overflow: hidden;
}
.userstory-detail-task-name{
    height: 25px;
    padding: 2px 0px 0px 5px;
    color: inherit;
    font-weight: 500;
    width: 75%;
    white-space: nowrap;
    display: inline-block;
    font-size: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.userstory-detail-task-time{
    position: relative;
    height: 25px;
    width: 75%;
    font-size: 12px;
    padding: 7px 0px 0px 5px;
    color: inherit;
    display: inline-block;
}
.userstory-detail-task-memberbox{
    position: relative;
    bottom: 2px;
    top: 2px;
    width: 25%;
    float: right;
    display: inline-block;
    overflow: hidden;
}