.bg {
    background-color: black;
    color: white;
}

/* loginpage */
.background {
    margin: auto;
    width: 594px;
    height: 700px;
    background-image: url(../images/login.jpg);
    background-position: center;
    background-repeat: no-repeat;
}

.login {
    position: relative;
    height: 200px;
    width: 300px;
    margin: auto;
    top: 220px;
}

.form-group {
  margin-bottom: 3px;
}

#largebutton {
    width: 300px;
}

.center {
    text-align: center;
    color: #9d9d9d;
    margin-top: 15px;
    margin-bottom: 15px;
}

/* register */
.information{
	position: relative;
	text-align: justify;
	bottom: 10vh;
	left: 20vw;
	width: 60vw;
	font-family: inherit;
	font-weight: 500;
	line-height: 1.1;
	color: inherit;
}

/* backlog */
.button-container{
    position: absolute;
    bottom: 5px;
    right: 10px;
    height: 30px;
    width: 500px;
    background-color: grey;
}

.button-container > .btn{
    position: relative;
    float: right;
    right: 2px;
    color: black;
    background-color: white;
    display: inline-block;
    padding: 3px 5px;
    font-size: 14px;
    font-weight: 800;
    text-align: center;
    vertical-align: middle;
    -ms-touch-action: manipulation;
      touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
    border: 1px solid transparent;
    border-radius: 5px;
}

.button-container > .btn:hover{
    width: 150px;
    text-align: left;
}