/* loginpage */
#action_content{
	background-color: black;
}

.error-container{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
}

.error{
    width: 100vw;
    margin: 0px;
    padding: 10px 35px 5px 10px;
}