/* register */
#action_content{
	background-color: black;
}

.error-container{
    position: fixed;
    top: 20px;
    left: 20%;
    width: 60%;
}

.error{
    width: 100%;
    padding: 10px 35px 5px 10px;
    margin-bottom: 0px;
    border-radius: 0px;
}
.error:first-child{
	border-radius: 4px 4px 0px 0px;
}
.error:last-child{
	border-radius: 0px 0px 4px 4px;
}

.information{
	position: relative;
	text-align: justify;
	bottom: 10vh;
	left: 20vw;
	width: 60vw;
	font-family: inherit;
	font-weight: 500;
	line-height: 1.1;
	color: inherit;
}