.reg-btn{
	width: 50%;
	float: left;
}

.information{
	position: relative;
	text-align: justify;
	top: 20px;
	bottom: 10%;
	left: 20%;
	width: 60vw;
	font-family: inherit;
	font-weight: 500;
	line-height: 1.1;
	color: inherit;
}