/* register */
#action_content{
	background-color: black;
}

.information{
	position: relative;
	text-align: justify;
	bottom: 10vh;
	left: 20vw;
	width: 60vw;
	font-family: inherit;
	font-weight: 500;
	line-height: 1.1;
	color: inherit;
}