.reporting-page {
	position: absolute;
	width: 100%;
	padding: 20px 30px 20px 40px;
	height: 95vh;
    overflow-y: scroll;
}

.sprintBurnDown {
	position: absolute;
	top: 70px;
	width: 700px;
	height: 600px;
	margin: 0 auto;
	padding: 10px;
	background-color: #190033;
}

.sprints {
	width: 700px;
}