.backlog-placeholder{
    position: absolute;
    top: 50px;
    left: -287px;
    width: 300px;
    height: calc(100% - 50px);
    background-color: #666666;
    z-index: 3;
}

.backlog{
    overflow-y: scroll;
    height: 100%;
    z-index: 2;
}
.backlog::-webkit-scrollbar{
    display: none;
}

.backlog > .backlog-header{
    width: 80%;
    height: 4%;
    min-height: 24px;
    float: left;
    padding: 0px 0px 2px 5px;
    color: black;
    font-size: 20px;
    font-weight: 600;
}

.backlog > .backlog-data{
    width: 100%;
    height: 6%;
    min-height: 43px;
    float: left;
}

.backlog-data > .data-container{
    height: 100%;
    width: 33%;
    line-height: 14px;
    padding: 0px 2px 0px 5px;
    float: left;
    display: inline-block;
}

.backlog > .content{
    height: 85%;
    width: 100%;
    float: left;
    padding: 5px 5px 0px 5px;
    overflow-y: scroll;
    overflow-x: hidden;
}
.backlog > .content::-webkit-scrollbar{
    display: none;
}

.content > .userstory{
    width: 100%;
    height: 80px;
}

.backlog-placeholder > .backlogbar{
    width: 15px;
    height: 100%;
    float: right;
    background-color: #333333;
}
.backlogbar > .barbtn{
    position: relative;
    left: -1px;
    top: 50%;
    font-size: 17px;
    font-weight: 900;
    color: white;
}

.backlog > .addusbtn{
    position: absolute;
    bottom: 0px;
    left: -15px;
    height: 25px;
    width: 100%;
    float: left;
    color: white;
    text-align: center;
    padding: 5px 5px 0px 0px;
    font-weight: 600;
    background-color: green;
    border: none;
    text-decoration: none;
    display: block;
}

.sprintpage {
    position: absolute;
    top: 50px;
    width: 100%;
    padding: 20px 30px 40px 40px;
    height: calc( 100% - 50px );
    overflow-y: scroll;
}
.sprintpage::-webkit-scrollbar{
    display: none;
}

.sprintpage > .sprint{
    position: relative;
    background-color: #555;
    margin-bottom: 5px;
    color: white;
    height: 120px;
    width: 100%;
    overflow: hidden;
}
.sprint.openlog{
    height: 320px;
}

.sprint > .sprint-state{
    width: 5px;
    height: 120px;
    display: inline-block;
}

.sprint > .sprint-content{
    width: 90%;
    height: 120px;
    display: inline-block;
}

.sprint  .sprint-name{
    float: left;
    height: 30px;
    width: 100%;
    min-width: 20%;
    font-size: 20px;
    font-weight: 500;
    overflow: hidden;
}

.sprint .sprint-stats{
    float: left;
    width: 100%;
    height: 90px;
    display: inline-block;
}

.sprint .sprint-time-overview{
    float: left;
    width: 159px;
    height: 90px;
    padding: 5px 5px 0px 0px;
    display: inline-block;
}

.sprint-time-overview .sprint-sandclock{
    background-color: white;
    height: 60px;
    width: 50px;
    overflow-y: hidden;
    display: inline-block;
}

.sprint-time-overview .sprint-time{
    height: 20px;
    width: 50px;
    font-weight: 500;
    text-align: center;
    overflow-y: hidden;
}

.sprint .sprint-date{
    width: 100px;
    height: 44px;
    font-size: 16px;
    font-weight: 500;
    display: inline-block;
}

.sprintpage .sprint .sprint-data{
    float: right;
    width: 70%;
    height: 80px;
    padding-top: 20px;
    display: inline-block;
}

.data-container{
    padding: 0% 2% 0% 0%;
    width: 24%;
    height: 100%;
    line-height: 16px;
    float: left;
    display: inline-block;
}

.data-container > .count{
    height: 20px;
    width: 100%;
    padding-top: 2px
}

.progressbar{
    background-color: grey;
    height: 10px;
    width: 100%;
    margin-top: 3px;
    outline: 1px solid black;
    display: inline-block;
}
.progress{
    background-color: green;
    height: 10px;
    display: inline-block;
    border-radius: 0px;
}

.sprint .sprint-control{
    height: 120px;
    float: right;
    width: 50px;
    font-weight: 500;
    display: inline-block;
}

.sprint-control .sprint-link{
    position: relative;
    height: 60px;
    width: 50px;
    padding-top: 10px;
    font-size: 40px;
    text-align: center;
    display: block;
    color: white;
    text-decoration: none;
}
.sprint-control .sprint-dropdown{
    position: relative;
    height: 60px;
    width: 50px;
    padding-top: 10px;
    font-size: 40px;
    text-align: center;
    display: block;
    background-color: inherit;
    color: white;
    text-decoration: none;
}
.sprint > .sprintlog{
    position: relative;
    bottom: 5px;
    height: 200px;
    width: 100%;
    padding: 10px 10px 10px 10px;
    background-color: grey;
    color: white;
    border-top: 2px solid black;
    overflow-y: scroll;
}
.sprint > .sprintlog::-webkit-scrollbar{
    display: none;
}
.userstory{
    position: relative;
    height: 80px;
    width: 18%;
    margin: 0px 5px 5px 0px;
    padding: 0px 0px 0px 5px;
    display:  inline-block;
    background-color: lightgray;
    color: black;
    text-decoration: none;
    box-shadow: 0px 0px 5px #000000;
}
.userstory > .userstory-titel{
    position: relative;
    width: 100%;
    height: 20px;
    font-weight: 500;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
}
.userstory > .userstory-content{
    position: relative;
    width: 90%;
    height: 60px;
    display: inline-block;
}

.modal-content{
    position: relative;
    background-color: #666666;
    height: 700px;
    width: 100%;
}

.modal-dialog{
    width: 800px;
    height: 700px;
}
.modal-header{
    position: fixed;
    width: 798px;
    height: 92px;
    background-color: #333333;
    border: none;
    font-size: 18px;
    padding-bottom: 0px;
    border-bottom: 1px solid white;
    z-index: 5;
}

.modal-header > a{
    float: right;
    color: white;
    text-decoration: none;
}

.nav {
    color: black;
    padding-top: 10px;
	border-bottom: none;
}

.nav > li {
	margin-left: 5px;
}

.nav > li > a {
	z-index: 2;
    font-size: 14px;
	background-color: #666666;
    color: white;
    box-shadow: 0 1px 0 #e5e5e5;
}

.nav > li > a:hover {
    color: white;
}

.nav > li:not([class="active"]) > a {
	padding-bottom: 9px;
}

.nav > li:not([class="active"]) > a:hover {
	border-color: transparent;
	background-color: #e5e5e5;
	color: #333333;
}

.nav > li.active > a {
	border-bottom-color: transparent;
   	box-shadow: 0 1px 0 #666666;
    background-color: #666666;
    color: white;
}
.nav > li.active > a:focus{
    background-color: #666666;
    color: white;
} 

form::-webkit-scrollbar{
    display: none;
}
.tab-content{
    margin-top: 92px;
    height: 600px;
    width: 100%;
    background-color: #666666;
    overflow-y: scroll;
}
.tab-pane{
    width: 100%;
    height: 100%;
}
.input-group{
    margin: auto;
    padding: 5px 0px 0px 0px;
    width: 100%;
    height: 7%;
    font-size: 14px;
    border: none;
}

.input-group-addon-fix{
    width: 120px;
    height: 7%;
    background-color: transparent;
    color: white;
    font-size: 14px;
    font-weight: 500;
    white-space: normal;
    text-transform: uppercase;
    border-right: 2px solid black;
}
.input-control{
    height: 49px;
    color: white;
    font-size: 17px;
    font-weight: 600;
    background-color: transparent;
    border-radius: 0px;
    border: 1px solid white;
}
textarea { 
    resize: vertical;
}

.date-container{
    height: 54px;
    width: 100%;
    margin: auto;
}
.input-startdate{
    float: left;
    width: 22%;
    height: 100%;
    border: none;
}
.input-duedate{
    float: left;
    width: 10%;
    height: 100%;
    border: none;
    margin-left: 5px;
}
.input-state{
    float: right;
    width: 29%;
    height: 100%;
    border: none;
    margin-left: 5px;
}
.input-state-addon-fix{
    width: 70px;
    height: 7%;
    background-color: transparent;
    color: white;
    font-size: 14px;
    font-weight: 500;
    white-space: normal;
    text-transform: uppercase;
    border-right: 2px solid black;
}

.modal-body .sprint-data {
    margin: auto;
    margin-top: 20px;
    width: 80%;
    height: 80px;
}

.modal-data-container{
    margin-right: 2px;
    padding: 3px 2% 3px 3px;
    width: 32%;
    height: 100%;
    display: inline-block;
    float: left;
}
.userstory-container{
    width: 100%;
    height: 50%;
    padding: 5px;
    margin: auto;
    overflow-y: scroll;
    overflow-x: hidden;
}
.userstory-container::-webkit-scrollbar{
    display: none;
}
.userstory-fix{
    width: 23.9%;
}
.btn-default{
    float: right;
    margin-top: 10px
}

.history-tab > .history-item{
    height: 30px;
    background-color: #BBB;
    border-radius: 10px;
    padding: 5px;	
    margin: 0px 20px 5px 20px;
}

.history-item > .history-changeevent{
    height: 100%;
    width: 50%;
    float: left;
    padding: 2px 10px;
    line-height: 16px;
    overflow-x: hidden;
    overflow-y: scroll;
}

.history-item > .history-date{
    height: 100%;
    width: 25%;
    float: left;
    padding-left: 10px;
    color: #888888;
}

.history-item > .history-user{
    height: 100%;
    width: 25%;
    float: left;
    text-align: right;
    padding-right: 10px;
    color: #888888;
}

/* quick buttons specific css */
/*
#quick-button-container {
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 800px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    vertical-align: middle;
}

#quick-button-container a {
	text-decoration: none;
	color: white;
	font-weight: bold;
}

#quick-button-container > .quick-button {
	float: right;
	margin-left: 2px;
}

#quick-button-container > .quick-button > span {
	display: inline-block;	
	height: 100%;
}

#quick-button-container > .quick-button > .quick-button-title {
	width: 30px;
	background-color: darkgreen;
	border-radius: 5px 5px 5px 5px;
}

#quick-button-container > .quick-button:hover > .quick-button-title {
	border-radius: 5px 0px 0px 5px;
}

#quick-button-container > .quick-button > .quick-button-text {
	padding: 0px 10px 0px 10px;
	background-color: green;
	border-left: 1px solid;
	border-radius: 0px 5px 5px 0px;
	display: none;
}

#quick-button-container > .quick-button:hover > .quick-button-text {
	display: inline-block;
}

#quick-button-container > .quick-button > .quick-removebutton-title{
    width: 30px;
    background-color: darkred;
	border-radius: 5px 5px 5px 5px;
}

#quick-button-container > .quick-button:hover > .quick-removebutton-title {
	border-radius: 5px 0px 0px 5px;
}

#quick-button-container > .quick-button > .quick-removebutton-text {
    padding: 0px 10px 0px 10px;
    background-color: red;
	border-left: 1px solid;
	border-radius: 0px 5px 5px 0px;
	display: none;
}

#quick-button-container > .quick-button:hover > .quick-removebutton-text {
	display: inline-block;
}*/

.selected{
    outline: 2px solid white;
}