@import 'history.css';
@import 'detail.css';
@import 'hourglass.css';


#action_content::-webkit-scrollbar {
	display: none;
}

.taskboard-content {
	position: relative;
    top: 25px;
    height: 100%;
    width: 100%;
    padding: 0px 0px 45px 0px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.taskboard{
    height: 100%;
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}

/* planstate formatting for userstories and tasks */
.taskboard *[planstate=Planning] {
	background-color: darkgrey;
}

.taskboard *[planstate=InProgress] {
	background-color: orange;
}

.taskboard *[planstate=Done] {
	background-color: green;
}

.taskboard, .taskboard th, .taskboard td{
    border: 1px solid #444444;
}

.taskboard-heading {
    position: fixed;
    top: 50px;
    width: 100%;
    height: 25px;
    text-align: center;
    overflow: hidden;
    background-color: #333333;
    z-index: 1;
}

.taskboard-heading{
    color: white;
}

.userstory-section{
    width: 28%;
    text-align: inherit;
}
.task-section{
    width: 24%;
    text-align: inherit;
}
.item-section{
    vertical-align: top;
    padding: 5px 5px 5px 5px;
    overflow: hidden;
}

.userstory{
    position: relative;
    background-color: grey;
    height: 160px;
    width: 100%;
    color: white;
}
.userstory > .userstory-state{
    width: 1.5%;
    min-width: 5px;
    height: 100%;
    float: left;
    display: inline-block;
}

.userstory > .userstory-content{
    width: 92%;
    height: 100%;
    display: inline-block;
    overflow: hidden;
}

.userstory-content > .userstory-titel{
    height: 90px;
    width: 95%;
    float: left;
    padding: 2px 0px 0px 5px;
    color: inherit;
    font-weight: 500;
    font-size: 16px;
    overflow: hidden;
}

.userstory-content > .userstory-stats{
    height: 70px;
    width: 98%;
    float: left;
    font-size: 18px;
    line-height: 18px;
}

.userstory-stats > .time-container{
    height: 100%;
    width: 17%;
    float: left;
    display: inline-block;
}

.time-container > .sandclock{
    height: 50px;
    width: 100%;
    background-color: black;
}
.time-container > .duetime{
    height: 20px;
    width: 100%;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
}

.userstory-stats > .info-container{
    width: 61%;
    height: 100%;
    float: left;
    font-size: 14px;
    margin: auto;
    padding: 0px 0px 0px 2px; 
    display: inline-block;
    overflow: hidden;
}
.info-container > .moscow{
    width: 30%;
    height: 30%;
    float: left;
    margin: 0px 0.5% 0.5% 15%;
    padding-top: 2px;
    text-align: center;
    display: inline-block;
    border-radius: 5px;
    background: rgba(54, 25, 25, .5);
    overflow: hidden;
}
.info-container > .value{
    width: 30%;
    height: 30%;
    float: left;
    margin: 0px 0.5% 0.5% 3%;
    padding-top: 2px;
    text-align: center;
    border-radius: 5px;
    background: rgba(54, 25, 25, .5);
    overflow: hidden;
}
.info-container > .risk{
    width: 30%;
    height: 30%;
    float: left;
    margin-left: 15%;
    padding-top: 2px;
    text-align: center;
    display: inline-block;
    border-radius: 5px;
    background: rgba(54, 25, 25, .5);
    overflow: hidden;
}
.info-container >  .effort{
    width: 30%;
    height: 30%;
    margin-left: 3%;
    padding-top: 2px;
    text-align: center;
    float: left;
    display: inline-block;
    border-radius: 5px;
    background: rgba(54, 25, 25, .5);
    overflow: hidden;
}
.info-container > .timestats{
    width: 100%;
    height: 36%;
    line-height: 22px;
    float: left;
    text-align: center;
    display: inline-block;
    overflow: hidden;
}

.userstory-stats > .member-container{
    width: 22%;
    height: 100%;
    float: right;
    padding-top: 10px;
    text-align: right;
    display: inline-block;
    overflow: hidden;
}
.member-container > .userstory-member{ 
    margin-bottom: 3px;
    width: 25px;
    height: 25px;
    display: inline-block;
    border-radius: 20px
}

.userstory-member > img { 
	width: 25px;
    height: 25px;
    border-radius: 100%;
}

.userstory > .userstory-link{
    position: relative;
    top: 0px;
    float: right;
    height: 100%;
    width: 5%;
    min-width: 15px;
    padding-top: 70px;
    font-size: 18px;
    color: white;
    text-decoration: none;
}
.task{
    margin-bottom: 5px;
    background-color: grey;
    height: 50px;
    width: 100%;
}
.task > .task-content{
    position: relative;
    height: 50px;
    width: 93%;
    color: white;
    display: inline-block;
    overflow: hidden;
}
.task > .task-link{
    position: relative;
    top: 0px;
    height: 100%;
    width: 5%;
    min-width: 15px;
    float: right;
    padding-top: 19px;
    font-size: 15px;
    color: white;
    text-decoration: none;
}
.task-content > .task-name{
    height: 25px;
    padding: 2px 0px 0px 5px;
    color: inherit;
    font-weight: 500;
    white-space: nowrap;
    font-size: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.task-content > .task-time{
    position: relative;
    height: 25px;
    width: 60%;
    font-size: 12px;
    padding: 7px 0px 0px 5px;
    color: inherit;
    display: inline-block;
}
.task-content > .task-memberbox{
    position: relative;
    bottom: 2px;
    height: 25px;
    width: 40%;
    float: right;
    display: inline-block;
    overflow: hidden;
}
.task-member{
    float: right;
    width: 25px;
    height: 25px;
    margin-left: 2px;
    border-radius: 20px;
    display: inline-block;
}

.task-member > img {
    position: relative;
    margin: 0px 0px 4px 0px;
    height: 25px;
    width: 25px;
    display: inline-block;
    border-radius: 100%;
}
.selected{
    outline: 2px solid white;
}

/* quick buttons specific css */
#quick-button-container {
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 800px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    vertical-align: middle;
}

#quick-button-container a {
	text-decoration: none;
	color: white;
	font-weight: bold;
}

#quick-button-container > .quick-button {
	float: right;
	margin-left: 10px;
}

#quick-button-container > .quick-button > span {
	display: inline-block;	
	height: 100%;
}

#quick-button-container > .quick-button > .quick-button-title {
	width: 30px;
	background-color: darkgreen;
	border-radius: 5px 5px 5px 5px;
}

#quick-button-container > .quick-button:hover > .quick-button-title {
	border-radius: 5px 0px 0px 5px;
}

#quick-button-container > .quick-button > .quick-button-text {
	padding: 0px 10px 0px 10px;
	background-color: green;
	border-left: 1px solid;
	border-radius: 0px 5px 5px 0px;
	display: none;
}

#quick-button-container > .quick-button:hover > .quick-button-text {
	display: inline-block;
}

.section-detail .tag-list-header {
	height: 30px;
	width: 150px;
	color: #555;
	background-color: #e5e5e5;	
    font-size: 14px;
    font-weight: 400;
	text-align: center;
	line-height: 30px;
	vertical-align: middle;
	border-radius: 4px 4px 0px 0px;
}

.section-detail .tag-list {
	width: 100%;
	padding-bottom: 4px;
	margin-bottom: 10px;
	background-color: #fff;
	border: 1px solid #ccc;
	border-radius: 0px 4px 4px 4px;
	overflow: hidden;
	color: #303030;
}

.section-detail .tag-list .tag {
	float: left;
	padding: 0 5px 0 10px;
	margin: 4px 0 0 4px;
	height: 28px;
	line-height: 28px;
	border-radius: 4px;
	vertical-align: middle;
	text-align: center;
	color: white;
	background-color: #303030;
}

.section-detail .tag-list .tag > a {
	margin-left: 5px;
	color: white;
	font-size: 12px;
}

.section-detail .tag-list .tag > a:hover {
	color: red;
}

.section-detail .tag-list > input {
	margin: 5px 0px 0px 5px;
	padding-left: 5px;
	width: calc(100% - 10px);
	height: 100%;
	border: none;
}

/*�berschreibt die Memberlist aus detail.css, um Platz f�rs user adden zu machen*/
.section-detail .member-list {
	position: absolute;
	right: 230px;
	top: -43px;
	width: 55%;
	height: 26px;
}
.section-detail .user-add {
	position: absolute;
	top: -45px;
	right: 15px;
	width: 200px;
}

.section-detail .user-add > .selectpicker > * {
	float: right;
}