body {
    background-color: black;
    color: white;
}

/* index page specific css */
#navbar {
	position: fixed;
	width: 100%;
	height: 50px;	
	background-color: black;
}

#navbar > img:first-child {
	z-index: 2;
	position: absolute;
	top: 0px;
}

#navbar > img:last-child {
	z-index: 2;	
	position: absolute;
	top: 0px;
	right: 0px;
}

#navbar a {
	text-decoration: none;
	color: white;
	display: inline-block;
}

#logo {
	z-index: 3;
	float: left;
	position: relative;
	width: 50px;
	height: 50px;
	margin-left: 50px;
}

#logo:hover {
	background-color: #666666;
}

#logo > img {
	width: 30px;
	height: 30px;
	margin: 10px 10px 0px 10px;
}

#navbar * > .extra-menu {
	margin-top: 10px;
	display: none;
}

#navbar *:hover > .extra-menu {
	display: block;
}

#navbar * > .extra-menu > .extra-menuitem {
	width: 100px;
	height: 25px;
	padding: 0px 5px 0px 5px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	line-height: 25px;
	vertical-align: middle;
	background-color: #666666;
}

#logo > .extra-menu > .extra-menuitem {
	width: 155px;
}

#navbar * > .extra-menu > .extra-menuitem:hover {
	color: #666666;
	background-color: white;
}

#menubar {
	z-index: 3;
	position: relative;
	float: left;
	height: 100%;
	margin-left: 50px;
}

#menubar > .menuitem {
	float: left;
	width: 150px;
	height: 100%;
}

#menubar > .menuitem:hover {
	background-color: #666666;
}

#menubar > .menuitem > img {
	width: 30px;
	height: 30px;
	margin: 10px 60px 0px 60px;
	display: none;
}

#menubar > .menuitem:hover > img {
	display: inline-block;
}

#menubar > .menuitem > a {
	width: 100%;
	height: 30px;
	margin-top: 10px;
	display: inline-block;
	line-height: 30px;
	vertical-align: middle;
	text-align: center;
	font-size: 18px;
	background-color: #666666;
}

#menubar > .menuitem > .sub-menu {
	border-top: 2px solid;
	background-color: #666666;
	display: none;
}

#menubar > .menuitem:hover > .sub-menu {
	display: block;
}

#menubar > .menuitem > .sub-menu > .sub-menuitem {	
	display: inline-block;
	padding: 0px 5px 0px 5px;
	width: 100%;
	height: 25px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	line-height: 25px;
	vertical-align: middle;
}

#menubar > .menuitem > .sub-menu > .sub-menuitem:hover {
	color: #666666;
	background-color: white;	
}

#menubar > .spacer {
	float: left;
	margin: 10px 10px 10px 10px;
	width: 3px;
	height: 30px;
	background-color: #666666;
}

#userbar {
	z-index: 3;
	position: absolute;
	right: 50px;
	height: 100%;
}

#userbar > * {
	margin: 10px 0px 0px 40px;
	float: left;
	width: 30px;
	height: 30px;
}

#userbar > * > .badge {
	top: 5px;
	position: absolute;
}

#userbar > * > img {
	margin-left: 10px;
	width: 30px;
	height: 30px;
}

#action_content {
	z-index: -1;
	position: absolute;
	top: 50px;
	width: 100%;
	height: 100%;
	background-color: #303030;
}

/* login page specific css */
.background {
    margin: auto;
    width: 594px;
    height: 700px;
    background-image: url(resources/images/login.jpg);
    background-position: center;
    background-repeat: no-repeat;
}

.login {
    position: relative;
    height: 200px;
    width: 300px;
    margin: auto;
    top: 220px;
}

.form-group {
  margin-bottom: 3px;
}

#largebutton {
    width: 300px;
}

.center {
    text-align: center;
    color: #9d9d9d;
    margin-top: 15px;
    margin-bottom: 15px;
}

/*button-div and childs*/
.button-container{
    position: absolute;
    bottom: 7px;
    right: 10px;
    height: 30px;
    width: 500px;
    color: black;
    font-weight: 800;
    font-size: 14px;
}

.create-entity-btn {
    position: relative;
    float: right;
}

.create-entity-btn .head-btn {
    position: relative;
    padding: 4px 2px;
    float: left;
    color: black;
    text-align: center;
    width: 30px;
    height: 30px;
    border-radius: 5px;
    background-color: green;
    z-index: 1;
}

.create-entity-btn .user-btn{
    position: relative;
    float: left;
    margin: 0px 0px 0px -8px;
    padding: 5px 5px 0px 10px;
    color: black;
    display: none;
    height: 30px;
    background-color: lightgreen;
    border-radius: 5px;
    white-space: nowrap;
}